In [436]:
import pandas as pd

In [437]:
df = pd.read_csv('titanic.csv')

In [438]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### We have to keep Survived as target feature

In [439]:
df.shape

(891, 12)

In [440]:
df['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [441]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [442]:
df['Ticket'].value_counts()

Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

In [443]:
df['PassengerId'].value_counts()

PassengerId
1      1
599    1
588    1
589    1
590    1
      ..
301    1
302    1
303    1
304    1
891    1
Name: count, Length: 891, dtype: int64

In [444]:
df['Fare'].value_counts()

Fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
35.0000     1
28.5000     1
6.2375      1
14.0000     1
10.5167     1
Name: count, Length: 248, dtype: int64

In [445]:
df['SibSp'].value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [446]:
df['Parch'].value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

### Changing Categorical Columns (Only useful ones) to labels using LabelEncoder

In [447]:
from sklearn.preprocessing import LabelEncoder

In [448]:
sex_c = LabelEncoder()
embarked_c = LabelEncoder()

In [449]:
df['sex'] = sex_c.fit_transform(df['Sex'])
df['embarked'] = embarked_c.fit_transform(df['Embarked'])

In [450]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sex,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,2

### Using only relevant columns

In [451]:
input = df[['Pclass','sex','SibSp','Parch','embarked']]

In [452]:
input.head()

   Pclass  sex  SibSp  Parch  embarked
0       3    1      1      0         2
1       1    0      1      0         0
2       3    0      0      0         2
3       1    0      1      0         2
4       3    1      0      0         2

In [453]:
target = df['Survived']

In [454]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [455]:
from sklearn.model_selection import train_test_split

In [456]:
x_train, x_test, y_train, y_test = train_test_split(input, target, test_size = 0.2, random_state = 42)

In [457]:
from sklearn import tree

In [458]:
model = tree.DecisionTreeClassifier()

In [459]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [460]:
model.score(x_test, y_test)

0.7932960893854749