In [21]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [22]:
df = pd.read_csv('hiring.csv')

In [23]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

#### Here test score having index 6 is missing. Also first two indices of experience column are empty

In [26]:
import math
median_score = math.floor(df['test_score(out of 10)'].median())
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_score)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

#### Filling NaN of experience feature

In [27]:
from word2number import w2n
def convert_experience_to_number(x):
    if isinstance(x, str): #checking if the variable x is of type string
        return w2n.word_to_num(x)
    return x

In [28]:
df['experience'] = df['experience'].apply(convert_experience_to_number).astype(float)

In [29]:
median = df['experience'].median()
df['experience'] = df['experience'].fillna(median)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         6.0                    8.0                           9      50000
1         6.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    8.0                           7      72000
7        11.0                    7.0                           8      80000

In [30]:
from sklearn import linear_model
model = linear_model.LinearRegression()

In [31]:
model.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']] , df[['salary($)']])

LinearRegression()

In [35]:
model.predict([[2,9,6]])

C:\Users\kisha\anaconda3\envs\kishan\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[47056.91056911]])

In [36]:
model.predict([[12,10,10]])

C:\Users\kisha\anaconda3\envs\kishan\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[88227.64227642]])